<div class="top-container">
  <h1 class="top-page-title">TANGO</h1>
  <div class="contents">
    <% if user_signed_in? %>
    <ul class="contents-btn">
      <li class="content btn1"><%= link_to "単語帳を作る", categories_path %></li>
      <li class="content btn2"><%= link_to "クイズに挑戦する", root_path %></li>
    </ul>
    <ul class="contents-btn">
      <li class="content btn3"><%= link_to "マイページ", categories_path %></li>
      <li class="content btn4"><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
    </ul>
    <% else %>
    <ul class="contents-btn">
      <li class="content btn3"><%= link_to "ユーザー新規登録", new_user_registration_path %></li>
      <li class="content btn4"><%= link_to "ログイン", new_user_session_path %></li>
    </ul>
    <% end %>
  </div>
</div>