<div class="category-main">
  <div class="category-container">
    <h2 class="wordbook-title"><span class="wordbook-user-name"><%= link_to current_user.name %>さん</span>の単語帳一覧</h2>
    <div class="list-container">
      <ul class="wordbook-lists">
      <% current_user.categories.each do |category|%>
        <li><%= link_to category.title, category_path(category.id), class: 'wordbook_list' %></li>
      <% end %>
      </ul>
    </div>

    <div class="title-btn">
      <p class="create-title-btn" id="create-btn"><i class="far fa-plus-square"></i>新しく作る</p>
      <div class="title-form hidden" id="title-form">
        <%= form_with model: @category, id:'title_form', local: true do |f| %>
        <div class="form">
          <%= f.submit "＋", class:"submit-field"%>
          <%= f.text_field :title, placeholder:"タイトル", class:"title-field" %>
          <%# カラーを選べればなお良し %>
        </div>
        <% end %>
      </div>
    </div>
    <div class="back-btn-container">
      <div class="back-btn"><%= link_to "ホームへ戻る", root_path %></div>
    </div>
  </div>
</div>